<%- include("header"); -%>


    <h1>About</h1>
    <p> <%= aboutContent %> </p>

<div class="overview">
    <h1>Overview</h1>
    <ul>
        <li>Industry-driven curriculum developed and taught by experienced Westcliff University faculty</li>
        <li>Complete relevant coursework in front-end and back-end web development  in 24 weeks </li>
        <li> Master the fundamental building blocks of web and software development</li>
        <li>Build a Professional-Grade Portfolio that showcases the projects you have created</li>
        <li> Earn up to 18 credits towards your Westcliff University degree</li>
    </ul>
</div>

    <h1>Objectives</h1>
    <p>The Full Stack Coding Bootcamp offered by Westcliff University is a multidimensional certificate program that bridges a path for students who want to pursue careers in the growing and exciting field of web development. The program focuses on creating dynamic and interactive experiences through a rigorous full stack coding curriculum. Students pursuing this program will gain the necessary skills for front-end and back-end development, all while preparing them for success in the professional world.</p>


    <a href="https://www.westcliff.edu/academics/college-of-technology-engineering/full-stack-coding-bootcamp-certificate/" target="_blank">Learn More</a>


<%- include("footer"); -%>
