<%- include("header"); -%>

    
    <h1>Log In</h1>
 
    <form class="" action="/register" method="post">
      <div class="form-group">
        <label>Username</label>
        <input class=" form-control-sm" type="text" name="username">
        <label>Bio</label>
        <input class=" form-control-sm" name="bio" rows="5" cols="30">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Login</button>
    </form>

    <%- include("footer"); -%>



