
<%- include("header"); -%>
<div class="form">
    <h1>Please Create Your Profile</h1>
    <form class="" action="/register" method="post">
      <p class="warning"> <%= requirements %></p>
      <div class="form-group">
        <label>Username</label>
        <input class=" form-control-sm" type="text" name="username" required>

        <label>Password</label>
        <input class=" form-control-sm" type="password" name="password" rows="5" cols="30" required>

        <label>Bio</label>
        <textarea class=" form-control-sm" name="bio" rows="10" cols="50" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Register</button>
    </form>

  </div>
<%- include("footer"); -%>
